<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.f6.twodo.mapper.BlogMapper">
    <select id="getBlogList" resultType="com.f6.twodo.vo.Blog">
        SELECT *
        FROM blog
        ORDER BY id DESC
        LIMIT #{dispCount}
    </select>

    <select id="getBlogOnce" resultType="com.f6.twodo.vo.Blog">
        SELECT *
        FROM  blog
        WHERE id = #{id}
    </select>

    <insert id="addBlog">
        INSERT INTO blog(secret, title, content, orifilename , filename,
                         locationtag, star, insertdate, modifydate)
        VALUES (#{blog.secret}, #{blog.title},#{blog.content},
                #{blog.orifilename},#{blog.filename},#{blog.locationtag},
                #{blog.star}, now(), now())
    </insert>

    <update id="modBlog">
        UPDATE blog SET title = #{blog.title}, content = #{blog.content},
            locationtag = #{blog.locationtag}, modifydate = now()
        WHERE id = #{blog.id}
    </update>

    <delete id="delBlog">
        DELETE FROM blog WHERE id = #{id}
    </delete>
</mapper>