<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.f6.twodo.mapper.QueryMapper">

    <select id="dbTest" resultType="com.f6.twodo.vo.TestDB">
        SELECT *
        FROM TestDB
    </select>


    <select id="getToDo" resultType="com.f6.twodo.vo.ToDo">
        SELECT *
        FROM todo
        ORDER BY id DESC
        LIMIT #{maxcount} OFFSET #{offset}
    </select>

</mapper>