<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.f6.twodo.mapper.ToDoMapper">
    <select id="getBeforeTodo" resultType="com.f6.twodo.vo.ToDo">
        SELECT *
        FROM todo
        WHERE <![CDATA[date_format(targetdate, '%Y-%m-%d') < date_format(now(), '%Y-%m-%d')]]>
        ORDER BY targetdate DESC
        LIMIT #{dispCount}
    </select>
    <select id="getTodayTodo" resultType="com.f6.twodo.vo.ToDo">
        SELECT *
        FROM todo
        WHERE date_format(targetdate, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
        LIMIT #{dispCount}
    </select>
    <select id="getNextTodo" resultType="com.f6.twodo.vo.ToDo">
        SELECT *
        FROM todo
        WHERE <![CDATA[date_format(targetdate, '%Y-%m-%d') > date_format(now(), '%Y-%m-%d')]]>
        ORDER BY targetdate ASC
        LIMIT #{dispCount}
    </select>
    <insert id="addToDo">
        INSERT INTO todo (subject, detail, targetdate, done, must, insertdate, modifydate)
        VALUES (#{todo.subject}, #{todo.detail}, #{todo.str_target_date}, 'N', 'N', now(), now())
    </insert>
</mapper>