<!DOCTYPE html>

<HEAD>
    <title>2DO 기록등록</title>
</HEAD>
<BODY>

<form action="/" >
    <button src="/main"> 메인으로 돌아기기 </button>
    <h1>기록을 등록해보세요!</h1>

    <h3>비밀여부</h3>
    <select name="openOrhidden">
        <option value="open">공개</option>
        <option value="hidden">비밀</option>
    </select>


    <h3>기록제목</h3>
    <input type="text" name="logTitle" >

    <h4>일정내용</h4>
    <textarea name="logData"> </textarea>

    <h4>사진 등록</h4>
    <input type="file" name="photo">

    <h4>장소 등록</h4>
    <input type="text" name="location">

    <h3>이 기록의 별점을 기록해주세요</h3>
    <select name="star">
        <option value="1">★</option>
        <option value="2">★★</option>
        <option value="3">★★★</option>
        <option value="4">★★★★</option>
        <option value="5">★★★★★</option>
    </select>

    <br>
    <br>
    <input type="submit" value="등록" />


</form>
</BODY>

</HTML>