{{>common/header}}

<div style="width:100%;height:100%;">
    <div style="width:500px;height:100%;margin:0 auto;">
        <form action="/main/blog/mod" method="post">
            <h1>기록을 등록해보세요!</h1>
            <input type="hidden" name="id" value="{{blogOnce.id}}" >

            <h3>기록제목</h3>
            <input type="text" name="title" value="{{blogOnce.title}}">

            <h4>일정내용</h4>
            <textarea name="content">{{blogOnce.content}}</textarea>

            <h4>장소 등록</h4>
            <input type="text" name="locationtag" value="{{blogOnce.locationtag}}">

            <br>
            <br>
            <input type="submit" value="수정" />
        </form>
    </div>
</div>
{{>common/footer}}