<HTML>
<HEAD>
    <TITLE>F6TEAM</TITLE>
</HEAD>
<BODY>
TEST 페이지 입니다. <BR>

DB테스트입니다. 아래 값이 표시되야합니다. <BR>
{{#TestDBs}}
    <H1>{{id}}</H1><br>
    <H1>{{testString}}</H1><br>
{{/TestDBs}}
</BODY>
</HTML>