<HTML>
<HEAD>
    <TITLE>F6TEAM</TITLE>
</HEAD>
<BODY>
<h1 sec:authorize="isAuthenticated()">authed</h1><BR>

개발 페이지 입니다. <BR>
{{#BLOG}}

    <!--<img src="/img/img.jpg" width="300" height="300">-->

    <h2>id: {{id}}</h2>
    <h2>secret: {{secret}}</h2>
    <h2>title: {{title}}</h2>
    <h2>content: {{content}}</h2>
    <h2>orifilename: {{orifilename}}</h2>
    <h2>filename: {{filename}}</h2>
    <h2>locationtag: {{locationtag}}</h2>
    <h2>rank: {{rank}}</h2>
    <h2>insertdate: {{insertdate}}</h2>
    <h2>modifydate: {{modifydate}}</h2>

{{/BLOG}}
</BODY>
</HTML>