<HTML>
<HEAD>
    <title>2DO 일정등록</title>
</HEAD>
<BODY>
<form action="/" >
    <h1>일정을 등록해보세요!</h1>
    <button src="/main"> 메인으로 돌아기기 </button>
    <h3>일정제목</h3>
    <input type="text" name="doTitle" >

    <h4>일정내용</h4>
    <input type="text" name="doMemo" >

    <h4>마감일시</h4>
    <input type="date" name="dueDate" value="2022-11-25" max="2023-12-31" >
    <br>
    <br>
    <input type="submit" value="등록" />

</form>
</BODY>

</HTML>