<HTML>
<HEAD>
    <title>2DO 일정등록</title>
</HEAD>
<BODY>
<a href="/main"> 메인으로 돌아기기 </a>
<form action="/main/todo" method="post">
    <h1>일정을 등록해보세요!</h1>
    <h3>일정제목</h3>
    <input type="text" name="subject" >

    <h4>일정내용</h4>
    <input type="text" name="detail" >

    <h4>마감일시</h4>
    <input type="date" name="target_date" value="2022-11-25" max="2023-12-31" >
    <br>
    <br>
    <input type="submit" value="등록" />
</form>
</BODY>

</HTML>